<!-- Jumbotron is depreciated in newer versions of bootstrap so just imitated jumbotron using other bootstrap classes-->
<!-- Didn't downgrade the bootstrap version as per professors answer that I got via mail -->
<div class="p-5 mb-5 bg-info">
    <h1 class="text-white text-center">Frequently Asked Questions</h1>
</div>

<div class="row">
    <!-- Bootstrap list for categories -->
    <div class="col-md-3 mt-5">
        <div class="list-group mt-2">
            <!-- We're looping through each category and creating a link for it -->
            @foreach (var category in Model.Categories)
            {
                <a href="@Url.Action("Index", "Home", new { category = category.Name, topic = Model.ActiveTopic })" class="list-group-item">@category.Name</a>
            }
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <!-- Giving 12 col to each element makes sure they takeup all available space, resulting in stacked elements-->
            <div class="col-md-12">
                <!-- Bootstrap navbar for topics -->
                <nav class="navbar navbar-expand navbar-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <!-- We're creating a link for all FAQs -->
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index")">All FAQs</a>
                            </li>
                            <!-- We're looping through each topic and creating a link for it just like categories -->
                            @foreach (var topic in Model.Topics)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home", new { topic = topic.Name, category = Model.ActiveCategory })">@topic.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Questions are shown here in a card-->
            <div class="col-md-12">
                <!-- We're looping through each question and displaying it in a card -->
                @foreach (var question in Model.Questions)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@question.QuestionText</h5>
                            <p class="card-text">@question.Answer</p>
                            <div class="d-flex justify-content-between">
                                <span>Topic: @question.Topic.Name</span>
                                <span>Category: @question.Category.Name</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>